# Appium Server Settings
APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723
APPIUM_BASE_PATH=/

# Device Execution Settings
# EXECUTION_MODE: 'emulator' | 'real_device'
EXECUTION_MODE=emulator
DEVICE_NAME=Pixel_6_API_33
PLATFORM_VERSION=13.0
AUTOMATION_NAME=UiAutomator2

# Application Launch Mode: 'apk' or 'installed'
APP_LAUNCH_TYPE=installed

# Path to APK file (used when APP_LAUNCH_TYPE=apk)
APK_PATH=../app/build/outputs/apk/debug/app-debug.apk

# Installed App Package & Activity (used when APP_LAUNCH_TYPE=installed)
APP_PACKAGE=com.example.rent
APP_ACTIVITY=com.example.rent.MainActivity

# Timeouts & Retries
EXPLICIT_WAIT_TIMEOUT=15000
IMPLICIT_WAIT_TIMEOUT=5000
TEST_RETRIES=1

# Environment
ENVIRONMENT=staging
LOG_LEVEL=info
